// media
$breakpoint: 800px;

$mobile-width: 375px;
$desktop-width: 1440px;

// typography
$font-family-primary: 'Libre Franklin', sans-serif;

// colors
$dark: hsl(209, 33%, 12%);
$grey: hsl(0, 0%, 59%);
$grey-light: #e1e4e9;
$light: #f5f5f5;
$red: hsl(354, 100%, 66%);
$blue: hsl(223, 87%, 63%);
$blue-light: hsl(223, 100%, 88%);



html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    text-align: center;
    font-family: $font-family-primary;
    font-size: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 3rem;
}

.logo {
    width: auto;
    height: auto;
    margin: 8.8rem 0 6rem 0;

    @media (min-width: $breakpoint) {
        margin: 8.5rem 0 4rem 0;
    }
}

.title {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    @media (min-width: $breakpoint) {
        margin-bottom: 2rem;
        font-size: 4.8rem;
    }
    span {
        color: $grey;

        font-weight: 300;
       
    }
}

.subtitle {
    margin-bottom: 3rem;
    color: $dark;
    font-size: 1.6rem;
    font-weight: 300;
    @media (min-width: $breakpoint) {
        margin-bottom: 4rem;
        font-size: 2rem;
    } 
}

.form {
    max-width: 26rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint) {
        max-width:64rem;
        flex-direction: row;
    }

    .field {
        margin-bottom: 1.5rem;
        &:nth-child(1) {
            @media (min-width: $breakpoint) {
                flex:1;
                margin-right: 1.5rem;
            }
        }

        &__message {
            display: none;
            margin: 1rem 0;
            color: $red;
            font-size: 1.4rem;
            font-style: italic;
            @media (min-width: $breakpoint) {
                padding-left: 3rem;
                text-align: left;
            }
        }

        &.success,
        &.error {
            .field__message {
                display: block;
            }
        }

        &.success {
            .field__message {
                color: green;
            }
        }        

        &.error {
            input {
                border-color: $red;
            }
        }
    }

    input, button {
        height: 4.6rem;
        outline: none;
        border-radius: 100vh;
    }

    input {
        width: 100%;
        padding: 0 3rem;
        border: 1px solid $grey-light;
        &::placeholder {
            font-size: 1.6rem;
            color: $grey;
            opacity: .5;
        }

        &:focus {
            border-color: $dark;
        }
    }

    button {
        width: 100%;
        padding: 0 6rem;
        font-size: 1.6rem;
        letter-spacing: 1px;
        cursor: pointer;
        color: white;
        background-color: $blue;
        border: 0;
        box-shadow: 0 .5rem 1rem rgba(79, 125, 243, .3);
        transition: all .3s ease-in-out;

        &:hover {
            background-color: lighten($blue, 5);
        }
    }
}

.illustration {
    width: 100%;
    height: auto;
    margin-bottom: 14rem;
    @media (min-width: $breakpoint) {
        margin-bottom: 8rem;
    }
}

.copyright {
    color: $grey;
    font-size: 1.3rem;
}

.social-media {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;
    &__link {
        width: 4.8rem;
        height: 4.8rem;
        color: $blue;
        outline: none;
        border: 1px solid $grey-light;
        border-radius: 50%;
        transition: all 0.3s ease-out;
        &:not(:last-child) {
            margin-right: 1rem;;
        }

        @media (min-width: $breakpoint) {
            width: 3.2rem;
            height: 3.2rem;
        }

        svg {
            height: 4.8rem;
            padding: 1.3rem;

            @media (min-width: $breakpoint) {
                height: 3.2rem;
                padding: 1rem;
            }
        }

        &:hover,
        &:focus {
            transform: scale(1.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        }

        &:active {
            transform: scale(.9);
            box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        }
    }
}

.footer {
    margin-top: 9rem;
    padding: 3rem 0;
    font-size: 1.2rem;
    color: $grey;

    a {
        color: $blue;
        text-decoration: underline;
    }
}